---
version: 12.4.0.0
slug: samba
name: Samba share with features
description: Expose Home Assistant folders with SMB/CIFS
url: https://github.com/lmagyar/homeassistant-addon-samba-interface
codenotary: lmagyar1973@gmail.com
arch:
  - aarch64
  - amd64
  - armv7
hassio_api: true
host_network: true
image: ghcr.io/lmagyar/{arch}-addon-samba-interface
init: false
map:
  - addons:rw
  - all_addon_configs:rw
  - backup:rw
  - homeassistant_config:rw
  - media:rw
  - share:rw
  - ssl:rw
options:
  username: homeassistant
  password: null
  workgroup: WORKGROUP
  enabled_shares:
    - addons
    - addon_configs
    - backup
    - config
    - media
    - share
    - ssl
  compatibility_mode: false
  veto_files:
    - ._*
    - .DS_Store
    - Thumbs.db
    - icon?
    - .Trashes
  allow_hosts:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 169.254.0.0/16
    - fe80::/10
    - fc00::/7
  interfaces: []
schema:
  username: str
  password: password
  workgroup: str
  enabled_shares:
    - "match(^(?i:(addons|addon_configs|backup|config|media|share|ssl))$)"
  compatibility_mode: bool
  veto_files:
    - str
  allow_hosts:
    - str
  interfaces:
    - str
startup: services
