name: 'Publish'

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        arch: ["aarch64", "amd64", "armv7"]
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    - name: Login to ghcr.io
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish
      uses: home-assistant/builder@2025.02.0
      with:
        args: |
          --${{ matrix.arch }} \
          --target samba \
          --cosign \
          --docker-hub ghcr.io/${{ github.actor }}
