name: 'Test'

on:
  workflow_dispatch:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["aarch64", "amd64", "armhf", "armv7", "i386"]
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v3
    - name: Test build
      uses: home-assistant/builder@2022.09.0
      with:
        args: |
          --test \
          --${{ matrix.arch }} \
          --target samba
      env:
        CAS_API_KEY: ${{ secrets.CAS_TOKEN }}
