name: 'Test'

on:
  workflow_dispatch:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        addon: samba
        arch: ["aarch64", "amd64", "armhf", "armv7", "i386"]
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v3

    - name: Get information
      id: info
      uses: home-assistant/actions/helpers/info@master
      with:
        path: "./${{ matrix.addon }}"

    - name: Check add-on
      id: check
      run: |
        if [[ "${{ steps.info.outputs.architectures }}" =~ ${{ matrix.arch }} ]]; then
           echo "::set-output name=build_arch::true";
         else
           echo "${{ matrix.arch }} is not a valid arch for ${{ matrix.addon }}, skipping build";
        fi
    - name: Set build arguments
      if: steps.check.outputs.build_arch == 'true'
      run: |
        if [[ -z "${{ github.head_ref }}" ]] && [[ "${{ github.event_name }}" == "push" ]]; then
            echo "BUILD_ARGS=--docker-hub-check" >> $GITHUB_ENV;
        fi

    - name: Test build
      uses: home-assistant/builder@2022.03.1
      with:
        args: |
          ${{ env.BUILD_ARGS }} \
          --${{ matrix.arch }} \
          --test \
          --target ${{ matrix.addon }} \
          --addon
          --docker-hub ${{ secrets.DOCKERHUB_USERNAME }}
      env:
        CAS_API_KEY: ${{ secrets.CAS_TOKEN }}
