name: 'Test'

on:
  workflow_dispatch:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["aarch64", "amd64", "armv7"]
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v5
    - name: Test build
      uses: home-assistant/builder@2025.03.0
      with:
        args: |
          --${{ matrix.arch }} \
          --target samba \
          --test
